action-msgs==1.2.1
action-tutorials-interfaces==0.20.4
action-tutorials-py==0.20.4
actionlib-msgs==4.2.4
addict==2.4.0
aiohttp==3.9.3
aiosignal==1.3.1
ajsonrpc==1.2.0
alabaster==0.7.13
ament-clang-format==0.12.11
ament-cmake-test==1.3.9
ament-copyright==0.12.11
ament-cppcheck==0.12.11
ament-cpplint==0.12.11
ament-flake8==0.12.11
ament-index-python==1.4.0
ament-lint==0.12.11
ament-lint-cmake==0.12.11
ament-package==0.14.0
ament-pep257==0.12.11
ament-uncrustify==0.12.11
ament-xmllint==0.12.11
angles==1.15.0
ansi2html==1.8.0
ansitable==0.9.7
anyio==4.2.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
arrow==1.3.0
astroid==3.0.1
asttokens==2.4.0
async-timeout==4.0.3
atomicwrites==1.4.1
attrs==23.1.0
audioread==3.0.1
autopep8==2.0.4
Babel==2.13.1
backcall==0.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bidict==0.22.1
binaryornot==0.4.4
black==23.11.0
bleach==6.1.0
blinker==1.7.0
bloom==0.12.0
bpy==4.0.0
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
builtin-interfaces==1.2.1
cadquery==2.3.1
cadquery-ocp==7.7.1
casadi==3.6.4
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
certifi==2020.6.20
cffi==1.16.0
chardet==4.0.0
click==8.1.7
cloudpickle==3.0.0
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.28
colcon-common-extensions==0.3.0
colcon-core==0.17.0
colcon-defaults==0.2.8
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-override-check==0.0.1
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
colored==2.2.3
comm==0.2.0
command-not-found==0.3
composition-interfaces==1.2.1
ConfigArgParse==1.7
configobj==5.0.6
contourpy==1.1.1
control-msgs==4.6.0
controller==0.1.0
controller-manager==2.41.0
controller-manager-msgs==2.41.0
cookiecutter==2.5.0
cov-core==1.15.0
coverage==6.2
cryptography==41.0.7
cupshelpers==1.0
customtkinter==5.2.0
cv-bridge==3.2.1
cycler==0.11.0
Cython==0.29.28
darkdetect==0.8.0
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dbus-python==1.2.18
debugpy==1.8.0
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
deltarobot==0.0.0
deltarobot-description==0.0.0
deltarobot-inputs==0.0.0
deltarobot-interfaces==0.0.0
deltarobot-utils==0.0.0
demo-nodes-py==0.20.4
Deprecated==1.2.13
diagnostic-msgs==4.2.4
diff-match-patch==20230430
dill==0.3.7
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docplex==2.25.236
docstring-to-markdown==0.13
docutils==0.20.1
domain-coordinator==0.10.0
dulwich==0.20.31
empy==3.3.4
evdev==1.6.1
example-interfaces==0.9.3
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
exceptiongroup==1.1.3
executing==1.2.0
ezdxf==1.1.3
fastbencode==0.0.5
fastimport==0.9.14
fastjsonschema==2.19.0
filterpy==1.4.5
flake8==6.1.0
Flask==3.0.2
fonttools==4.42.1
frozenlist==1.4.1
fs==2.4.12
gast==0.5.2
generate-parameter-library-py==0.3.8
geometry-msgs==4.2.4
gpg==1.16.0
graph-msgs==0.2.0
h11==0.14.0
html5lib==1.1
httplib2==0.20.2
icecream==2.1.3
idna==3.3
ifaddr==0.1.7
image-geometry==3.2.1
imageio==2.31.5
imageio-ffmpeg==0.4.9
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.1
inflection==0.5.1
iniconfig==1.1.1
inputs==0.5
interactive-markers==2.3.2
intervaltree==3.1.0
ipykernel==6.26.0
ipython==8.15.0
ipywidgets==8.1.2
isort==5.12.0
itsdangerous==2.1.2
jedi==0.19.0
jeepney==0.7.1
jellyfish==1.0.3
Jinja2==3.1.3
joblib==1.3.2
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.10
keyboard==0.13.5
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
lark==1.1.1
lark-parser==0.12.0
laser-geometry==2.4.0
launch==1.0.6
launch-param-builder==0.1.1
launch-ros==0.19.7
launch-testing==1.0.6
launch-testing-ros==0.19.7
launch-xml==1.0.6
launch-yaml==1.0.6
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
librosa==0.10.1
lifecycle-msgs==1.2.1
llvmlite==0.42.0
Logbook==1.7.0.post0
logging-demo==0.20.4
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
map-msgs==2.1.0
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mercurial==6.1.1
meshcat==0.3.2
message-filters==4.3.4
micro-custom-messages==0.0.0
micro-ros-msgs==3.0.0
mistune==3.0.2
more-itertools==8.10.0
moviepy==1.0.3
mpi4py==3.1.3
mpmath==0.0.0
msgpack==1.0.8
multidict==6.0.5
multimethod==1.10
mypy-extensions==1.0.0
nav-msgs==4.2.4
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
netifaces==0.11.0
nlopt==2.7.1
nose2==0.9.2
notify2==0.3
nptyping==2.0.1
numba==0.59.1
numpy==1.26.0
numpy-stl==2.8.0
numpydoc==1.6.0
oauthlib==3.2.0
object-recognition-msgs==2.0.0
octomap-msgs==2.0.0
olefile==0.46
open3d==0.18.0
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
osrf-pycommon==2.0.2
packaging==23.1
pandas==2.1.1
pandocfilters==1.5.0
parso==0.8.3
path==16.7.1
pathspec==0.11.2
patiencediff==0.2.1
pcl-msgs==1.0.0
pendulum-msgs==0.20.4
pexpect==4.8.0
pgraph-python==0.6.2
pickleshare==0.7.5
pillow==10.2.0
pio==0.0.3
platformdirs==4.0.0
platformio==6.1.13
plotly==5.18.0
pluggy==1.3.0
ply==3.11
pooch==1.8.1
proglog==0.1.10
progress==1.6
prompt-toolkit==3.0.39
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pycairo==1.20.1
pycodestyle==2.11.1
pycparser==2.21
pycups==2.0.1
pydocstyle==6.3.0
pydot==1.4.2
pyelftools==0.30
pyflakes==3.1.0
PyGithub==1.55
Pygments==2.16.1
PyGObject==3.42.1
pygraphviz==1.7
pyjoystick==1.2.4
PyJWT==2.3.0
pylint==3.0.2
pylint-venv==3.0.3
pyls-spyder==0.4.0
pymacaroons==0.13.0
pymeshlab==2023.12.post1
PyNaCl==1.5.0
pyngrok==6.1.0
pynput==1.7.6
pyOpenSSL==23.3.0
pyparsing==2.4.7
pyqspline==0.2
PyQt5==5.15.6
PyQt5-sip==12.13.0
pyqtgraph==0.13.3
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyquaternion==0.9.9
pyRFC3339==1.1
PySDL2==0.9.16
pyserial==3.5
pytest==6.2.5
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-engineio==4.8.0
python-gitlab==2.10.1
python-lsp-black==1.3.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.9.0
python-qt-binding==1.1.2
python-slugify==8.0.1
python-socketio==5.10.0
python-utils==2.2.0
python-xlib==0.33
pythran==0.10.0
pytoolconfig==1.2.6
pyttsx3==2.90
pytz==2022.1
pyvjoy==1.0.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.1.1
QDarkStyle==3.2.1
qstylizer==0.2.2
qt-dotgraph==2.2.3
qt-gui==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
QtAwesome==1.2.3
qtconsole==5.5.1
QtPy==2.4.1
quadprog==0.1.6
quality-of-service-demo-py==0.20.4
rcl-interfaces==1.2.1
rclpy==3.3.13
rcutils==5.1.6
referencing==0.31.0
reportlab==3.6.8
requests==2.25.1
requests-toolbelt==0.9.1
resource-man==2.2.8
resource-retriever==3.1.2
retrying==1.3.4
rich==13.7.0
rmw-dds-common==1.6.0
roboticstoolbox-python==1.1.0
roman==3.3
rope==1.11.0
ros2action==0.18.10
ros2bag==0.15.11
ros2cli==0.18.10
ros2component==0.18.10
ros2controlcli==2.41.0
ros2doctor==0.18.10
ros2interface==0.18.10
ros2launch==0.19.7
ros2lifecycle==0.18.10
ros2multicast==0.18.10
ros2node==0.18.10
ros2param==0.18.10
ros2pkg==0.18.10
ros2run==0.18.10
ros2service==0.18.10
ros2test==0.4.0
ros2topic==0.18.10
rosbag2-interfaces==0.15.11
rosbag2-py==0.15.11
rosdep==0.24.0
rosdep-modules==0.24.0
rosdistro==0.9.1
rosdistro-modules==0.9.1
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.5
rosidl-cli==3.1.5
rosidl-cmake==3.1.5
rosidl-generator-c==3.1.5
rosidl-generator-cpp==3.1.5
rosidl-generator-py==0.14.4
rosidl-parser==3.1.5
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.1
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.5
rosidl-typesupport-introspection-cpp==3.1.5
rospkg-modules==1.5.1
rpds-py==0.13.1
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rtb-data==1.0.1
Rtree==1.1.0
scikit-learn==1.4.1.post1
scipy==1.11.2
SecretStorage==3.3.1
semantic-version==2.10.0
sensor-msgs==4.2.4
sensor-msgs-py==4.2.4
sentry-sdk==1.4.3
shape-msgs==4.2.4
Shapely==1.8.0
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.1
soxr==0.3.7
spatialgeometry==1.1.0
spatialmath-python==1.1.8
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
spyder-kernels==2.5.0
srdfdom==2.0.4
sros2==0.10.5
stack-data==0.6.2
starlette==0.35.1
statistics-msgs==1.2.1
std-msgs==4.2.4
std-srvs==4.2.4
stereo-msgs==4.2.4
swift-sim==1.1.0
sympy==1.9
systemd-python==234
tabulate==0.9.0
teleop-twist-keyboard==2.4.0
tenacity==8.2.3
text-unidecode==1.3
textdistance==4.6.0
tf2-geometry-msgs==0.25.7
tf2-kdl==0.25.7
tf2-msgs==0.25.7
tf2-py==0.25.7
tf2-ros-py==0.25.7
tf2-tools==0.25.7
threadpoolctl==3.4.0
three-merge==0.1.1
tinycss2==1.2.1
tkdesigner==1.0.7
tkinterdnd2==0.3.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
topic-monitor==0.20.4
tornado==6.3.3
tqdm==4.66.1
traitlets==5.10.0
trajectory-msgs==4.2.4
trimesh==4.2.0
turtlesim==1.4.2
typeguard==2.2.2
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
typish==1.9.3
tzdata==2023.3
u-msgpack-python==2.8.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.8.0
unattended-upgrades==0.1
unicodedata2==14.0.0
unique-identifier-msgs==2.2.1
urdfdom-py==1.2.1
urllib3==1.26.18
uvicorn==0.25.0
vcstool==0.3.0
vcstools==0.1.42
visualization-msgs==4.2.4
wadllib==1.3.6
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.1
whatthepatch==1.0.5
widgetsnbextension==4.0.10
wrapt==1.13.3
wsproto==1.2.0
wurlitzer==3.0.3
wxPython==4.2.0
xacro==2.0.8
xdg==5
xkit==0.0.0
yapf==0.40.2
yarl==1.9.4
zeroconf==0.38.3
zipp==1.0.0
zstandard==0.23.0
